In [3]:
import pandas as pd
df = pd.DataFrame ({'A' : ['데이터 분석','기본 학습서','퇴근 후 열공'],
                    'B' : [10,20,30],
                    'C' : ['ab cd','AB CD','ab cd ']
                    })
df

         A   B       C
0   데이터 분석  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd

In [5]:
df['A'] = df['A'].replace('분석','시각화')
df

         A   B       C
0   데이터 분석  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd

In [ ]:
df['A'] = df['A'].str.replace('분석','시각화') #문자에서 일부만 변경할때, str접근자로 변경가능
df

         A   B       C
0  데이터 시각화  10   ab cd
1   기본 학습서  20   AB CD
2  퇴근 후 열공  30  ab cd