In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    '과일' : ['딸기','블루베리','딸기','블루베리','딸기','블루베리','딸기','블루베리'],
    '가격' : [1000,None,1500,None,2000,2500,None,1800]#결측값 포함
})
df

     과일      가격
0    딸기  1000.0
1  블루베리     NaN
2    딸기  1500.0
3  블루베리     NaN
4    딸기  2000.0
5  블루베리  2500.0
6    딸기     NaN
7  블루베리  1800.0

In [6]:
price = df.groupby('과일')['가격'].transform("mean")
price

0    1500.0
1    2150.0
2    1500.0
3    2150.0
4    1500.0
5    2150.0
6    1500.0
7    2150.0
Name: 가격, dtype: float64

In [ ]:
df['가격'] = df['가격'].fillna(price) #결측값이 있는 값만 price로 채운다.

In [8]:
df

     과일      가격
0    딸기  1000.0
1  블루베리  2150.0
2    딸기  1500.0
3  블루베리  2150.0
4    딸기  2000.0
5  블루베리  2500.0
6    딸기  1500.0
7  블루베리  1800.0